:root {
  --color-white: #fff;
  --color-primary: #6a65f9;
  --color-secondary: #693ff6;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
}

form {
  align-items: center;
  background: var(--color-primary);
  padding: 20px 30px;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
}

form input {
  width: 90%;
  margin: 10px 0;
  border-radius: 10px;
  padding: 1rem 0.5rem;
  border: 1px solid #ccc;
}

form textarea {
  width: 90%;
  border-radius: 10px;
  margin-top: 10px;
  padding: 1rem 0.5rem;
  border: 1px solid #ccc;
}

form label {
  color: #fff;
  margin: 10px 0;
}

form button {
  margin: 10px 0;
}
button {
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  background: var(--color-secondary);
  box-shadow: #0d0c11;
}
